# dependencies
/node_modules
/.pnp
.pnp.*

# tests
/coverage

# Next.js
/.next/
/out/

# production
/build

# local environment files
.env*
!.env.example

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# operating systems
.DS_Store
Thumbs.db
